@page "/weather"
@inject HttpClient Http
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>@Loc["Weather"]</PageTitle>

<h1>@Loc["Weather"]</h1>

<p>@Loc["WeatherDescription"]</p>

@if (forecasts is null)
{
    <p>
        <em>@Loc["Loading"]</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>@Loc["Date"]</th>
            <th aria-label="@Loc["TempC"].Value">@Loc["TempC"]</th>
            <th aria-label="@Loc["TempF"].Value">@Loc["TempF"]</th>
            <th>@Loc["Summary"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

}